.Container {
  display: flex; 
}

.ContentContainer {
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.Header {
  height: 70px;
  display: flex;
  flex-direction: left;
  align-items: center;
  border-bottom: 1px solid silver;
  padding-left: 20px;
  margin: 0 20px;
}

.TracksContainer {
  width: 65vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title {
  color: grey;
}

.StyledImage {
  max-width: 35vw;
}

.LogoContainer {
  height: 50px;
  display: flex;
  align-items: flex-end;
}

.Logo {
  height: 35px;
}

.HeaderText {
  height: 30px;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  font-style: italic;
  margin-left: 3px;
  margin-right: 1px;
  color: grey;
}