 .StyledModal {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.InfoContainer {
  display: flex;
  flex-direction: column;
  color: grey;
  margin-top: 30px;
}

.ModalHeader {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
}

.ModalBody {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.ModalFooter {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Position {
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: purple;
}

.CardContentContainer {
  display: flex;
  flex-direction: column;
}

.StyledCard {
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  border: none;
}

.StyledButton {
  color: grey;
}

.Label {
  width: 100px;
  font-size: 18px;
  color: purple;
  font-weight: bold;
  margin-right: 50px;
  margin-bottom: 25px;
}

.Text {
  width: 100px;
  font-size: 16px;
  display: flex;
  justify-content: left;
}

.InfoRow {
  display: flex;
}